<%= form_with(model: delivery) do |form| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
        <% delivery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>



  <div class="field">
    <%= form.label :by %>
    <%= form.datetime_select :by %>
  </div>

  <div class="field">
    <%= form.label :packages %>
    <%= form.number_field :packages %>
  </div>



  <div class="field">
    <%= form.label :pay %>
    <%= form.text_field :pay %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id,id: :delivery_user_id,value:current_user.id,type: :hidden%>
  </div>


  <div class="field">
  <%=form.label :picture%>
  <%=form.file_field :picture,accept:'image/png,image/jpg,image/jpeg'%>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
