<p id="notice"><%= notice %></p>

<h1>My Deliveries</h1>


    <% @deliveries.each do |delivery| %>
     <%if delivery.user == current_user%>
      <tr>
      <div class="card" style="width: 18rem;">
    <%= image_tag delivery.picture if delivery.picture.attached?%>
    <div class="card-body">
      <h5 class="card-title"><%= delivery.title %></h5>
      <p class="card-text"> <%= delivery.by %></p>
      <p class="card-text"> <%= delivery.packages %></p>
      <p class="card-text">$ <%= delivery.pay %></p>
        <%= link_to 'View Job', delivery  %>
        <%= link_to 'Show', delivery %>
        <%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %>

    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
       
        
      </tr>


      <%end%>
    <% end %>

<br>




<%= link_to 'New Delivery', new_delivery_path %>
