<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @delivery.title %>
</p>



<p>
  <strong>By:</strong>
  <%= @delivery.by %>
</p>

<p>
  <strong>Packages:</strong>
  <%= @delivery.packages %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @delivery.pay %>
</p>

  <a href="#" class="btn btn-primary">Accept Delivery</a>


<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
