<p id="notice"><%= notice %></p>

<h1>Shop</h1>

<table>


  <tbody>
    <% @Products.each do |products| %>
    
      <tr>
 
        

  <div class="card" style="width: 18rem;">
      <%= image_tag products.picture if products.picture.attached?%>
    <div class="card-body">
      <h5 class="card-title"><%= products.title %></h5>
      <p class="card-text">$ <%= products.price %></p>
            <p class="card-text">$ <%= products.description %></p>
            <%= button_to product_items_path(product_id: products), class: "btn btn-default" do %>

              <i class="fa fa-shopping-cart"></i> Add to Cart
              <%end%>

          <%= link_to 'Destroy', products, method: :delete, data: { confirm: 'Are you sure?' } %>

              


    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>

      </tr>

</div>
      
    <% end %>
  </tbody>
</table>

<br>

