<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @delivery.title %>
</p>


<p>
  <strong>By:</strong>
  <%= @delivery.by %>
</p>

<p>
  <strong>Packages:</strong>
  <%= @delivery.packages %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @delivery.pay %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @active_order%>
</p>
