<%= form_with(model: driver) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id,id: :driver_user_id,value:current_user.id,type: :hidden%>
  </div>

  <div class="field">
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle %>
  </div>

  <div class="field">
    <%= form.label :registration %>
    <%= form.text_field :registration %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.check_box :insurance %>
  </div>

<%current_user.id%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
