<p id="notice"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Vehicle</th>
      <th>Registration</th>
      <th>Insurance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
     <%if driver.user == current_user%>
        <tr>
          <td><%= driver.user_id %></td>
          <td><%= driver.vehicle %></td>
          <td><%= driver.registration %></td>
          <td><%= driver.insurance %></td>
          <td><%= link_to 'Show', driver %></td>
          <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
          <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
