<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @driver.user_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @driver.vehicle %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @driver.registration %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @driver.insurance %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
